body {
	padding-top: 54px;
	}
@media (min-width: 992px) {
	body {
	  padding-top: 56px;
	}
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap;
} 
.click {
	background-color: lightblue;
}
.placed {
	background-color: blue;
}
.blocked {
	background-color: lightgray;
}
.hit {
	background-color: rgb(199, 23, 23);
}
.miss{
	background-color: rgb(241, 132, 132);
}
table td {
	width: 50px;
	height: 50px;
}
.board {
	margin: 0 auto;
}
.myAlertDiv {
    position:fixed; 
    bottom: 0px; 
    left: 0px; 
    z-index:9999; 
	border-radius:0px
}
table, td, th { 
	border: 1px solid gray;
}
body { 
background: url(../img/bg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}